<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Item</title>
</head>
<body>
<a href="/items">back</a>
<h2 th:text="${item.getTitle()}"></h2>
<img th:if="${item.getImgName() != null}" th:src="@{/getImage(imageName=${item.getImgName()})}" width="400px">
<p th:text="${item.description}"></p>
<span th:if="${item.category != null}" th:text="${item.category.name}"></span>
<br>

<h2>Comment</h2>
<form action="/addComment" method="post">
    <input type="hidden" name="item.id" th:value="${item.id}">
    <textarea name="commentText"></textarea>
    <input type="submit" value="add">
</form>
<br>
<div th:if="${comments != null}">
<span th:each="comment:${comments}">
        <p th:text="${comment.commentText}"></p>
  <a th:href="@{/removeComment(id=${comment.id},itemId=${item.id})}">
    remove
</a>
        </span>
</div>
</body>
</html>
